p {
    margin: 0;
}

.textile {
    padding: 50px 0 100px;
}

.textile h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #3d4355;
    margin: 0 0 30px;
}

.textile h3::before,
.textile h3::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    background-color: #3d4355;

}

.textile h3::before {
    width: 50px;
    margin-right: 10px;
}

.textile h3::after {
    width: 410px;
    margin-left: 15px;
}

.wrap-form {
    display: flex;
    margin-bottom: 10px;

}

.wrap-form legend,
.tip-legend,
.term legend,
.sizes legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #3d4355;
    margin-bottom: 16px;
}

.wrap-form label,
.tip,
.term label,
.sizes input,
.sizes label,
.sizes select {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #1a1d26;

}

label {
    cursor: pointer;
}

.wrap-season {
    margin-bottom: 10px;
}

.wrap-season input[type=checkbox] {
    display: none;
}

.wrap-season label::before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid #000;
    margin: -5px 5px 0 0;
    height: 14px;
    width: 14px;
}

.wrap-season input[type=checkbox]:checked+label::before {
    background-image: url(../img/check-solid.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.season {
    border-right: 1px solid #1a1d26;
    padding-left: 20px;
    margin-right: 20px;
    width: 16%;
}

.material {
    border-right: 1px solid #1a1d26;
    width: 27%;
}

.wrap-material-checkbox {
    display: flex;
    flex-wrap: wrap;
}

.wrap-material {
    flex: 50%;
    margin-bottom: 10px;
}

.wrap-material input[type=checkbox] {
    display: none;
}

.wrap-material label::before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid #000;
    margin: -5px 5px 0 0;
    height: 14px;
    width: 14px;
}

.wrap-material input[type=checkbox]:checked+label::before {
    background-image: url(../img/check-solid.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.wrap-tip {
    padding: 0 40px 0 20px;
}

/* choice-textile */

.choice-textile {
    position: relative;
    padding: 15px 60px 30px 20px;
    box-shadow: 0px 10px 10.27px 2.73px rgba(0, 0, 0, 0.16);
    border: 2px solid rgb(225, 230, 243);
    margin-bottom: 45px;
}

.textile-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 40px;
    margin: 0;
}

.choice-textile p,
.choice-lining p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #3d4355;
    margin-bottom: 20px;
}

.textile-item {
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.textile-item:nth-child(5) {
    margin-right: 0;
}

.textile-item:nth-child(10) {
    margin-right: 0;
}

.textile-item:nth-child(15) {
    margin-right: 0;
}

.textile-item img {
    display: block;
}

.textile-item:hover {
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.2);
}

.scroll-textile::after,
.scroll-lining::after {
    position: absolute;
    top: 52px;
    right: 32px;
    content: url(../img/pag.png);
    display: inline-block;
}


/* choice-lining */

.choice-lining {
    position: relative;
    padding: 15px 60px 30px 20px;
    box-shadow: 0px 10px 10.27px 2.73px rgba(0, 0, 0, 0.16);
    border: 2px solid rgb(225, 230, 243);
    margin-bottom: 30px;
}

.lining-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 40px;
    margin: 0;
}

.lining-item {
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.lining-item img {
    display: block;
}

.lining-item:nth-child(5) {
    margin-right: 0;
}

.lining-item:nth-child(10) {
    margin-right: 0;
}

.lining-item:nth-child(15) {
    margin-right: 0;
}

.lining-item:hover {
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.2);
}

/* wrap-term-size */
.wrap-term-size {
    display: flex;
    margin-bottom: 25px;
}

.term {
    border-right: 1px solid #1a1d26;
    padding-right: 30px;
    margin-right: 30px;
    width: 49%;
}

.wrap-term input[type=radio] {
    display: none;
}

.wrap-term label::before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid #000;
    margin: -5px 5px 0 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;

}

.wrap-term {
    margin-bottom: 18px;
}

.wrap-term input[type=radio]:checked+label::before {
    background-image: url(../img/check-solid.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sizes input {
    margin: 0 45px 5px 10px;
    line-height: 35px;
    border: none;
    border-bottom: 1px solid #626773;
    outline: transparent;
}

.sizes select {
    color: #1a1d26;
    outline: transparent;
}

.wrap-select {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.wrap-select label {
    display: block;
    margin-bottom: 10px;
}

.buttons-save .btn,
.btn-confirm {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    outline: transparent;
}

.buttons-save .btn {
    color: #0f072b;
    border: 1px solid #e1e1e1;
    padding: 10px 30px 7px;
}

.buttons-save .btn:first-child {
    margin-right: 10px;
}

.buttons-save .btn:hover {
    color: #ffffff;
    background-color: #0f072b;
}

.buttons-save {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px;
}

.wrap-accept,
.wrap-confirm p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #3d4355;
    margin-bottom: 30px;
}

.wrap-accept input[type=checkbox] {
    display: none;
}

.wrap-accept label::before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid #000;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
}

.wrap-accept input[type=checkbox]:checked+label::before {
    background-image: url(../img/check-solid.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.wrap-confirm .amount {
    font-weight: bold;
}

.btn-confirm {
    color: #ffffff;
    background-color: #0f072b;
    padding: 10px 70px;
    border: 1px solid transparent;

}

.btn-confirm:hover {
    color: #0f072b;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
}

.wrap-confirm {
    padding-left: 90px;
}

.wrap-final-confirm {
    display: flex;
    justify-content: space-between;

}

.wrap-final-confirm p {
    margin-bottom: 0;
    padding-top: 10px;
}